<h1>Login Page</h1>
<%= form_for :session, url: 'login' do |f| %>
	<table>
		<tr>
			<td>Username: </td>
			<td><%= f.text_field :username, required: true, class: "form-control" %></td>
		</tr>
		<tr>
			<td>Password: </td>
			<td><%= f.password_field :password, required: true, class: "form-control" %></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><%= f.submit "Login", class: "btn btn-warning" %></td>
		</tr>
	</table>
<% end %>
